
<div id="call-{{ index }}" class="http-call http-call--{{ call.request.method | lower }} {{ call.request.schemeAndHttpHost | simple_http_md5 }}">
    
    <h3 class="http-call__title">
        {#<span style="float: right"><a href="#" class="replay" data-request="{{ call.request|json_encode }}" data-index="{{ index }}">Replay</a></span>#}
        <span class="http-call__title__method">{{ call.request.method }}</span>
        <span title="{{ call.request.requestUri }}" class="http-call__path">{{ call.request.requestUri }}</span><br/>
        <span class="http-call__title__webhost">{{ call.request.schemeAndHttpHost }}</span>
    </h3>

    {% if call.response %}
        {% set dataDecoded = simple_http_decode_body(call.response) %}
    {% else %}
        {% set dataDecoded = false %}
    {% endif %}

    <div class="http-call__details tabs">
        <ul class="tabs-nav">
            <li>
                <a href="javascript://" class="active">Summary</a>
            </li>
            <li>
                <a href="javascript://">Request</a>
            </li>
            {% if call.response and call.response.headers is defined %}
            <li>
                <a href="javascript://">Response {{ call.response | simple_http_format_http_code }}</a>
            </li>
            {% endif %}
            {% if call.error %}
            <li>
                <a href="javascript://">Error</a>
            </li>
            {% endif %}
            <li>
                <a href="javascript://">Cookies</a>
            </li>
            {% if call.auth %}
            <li>
                <a href="javascript://">Auth <span class="simple-http-badge">{{ call.auth.type }}</span></a>
            </li>
            {% endif %}

            {% if dataDecoded %}
                <li>
                    <a href="javascript://">Data <span class="simple-http-badge">{{ dataDecoded.mime }}</span></a>
                </li>
            {% endif %}

            <li>
                <a href="javascript://">Raw</a>
            </li>
            {%  if call.curlCommand is defined %}
                <li>
                    <a href="javascript://">Curl</a>
                </li>
            {% endif %}
        </ul>

        <div class="tabs-content">
            <div class="active">
                {% include '@SimpleHttp/Collector/partials/summary.html.twig' with {
                    time: call.time,
                    response: call.response,
                    error: call.error,
                    debugLink: call.debugLink
                } only %}
            </div>
            <div>
                {% include '@SimpleHttp/Collector/partials/request.html.twig' with {'index':index, 'request': call.request, 'time': call.time} %}
            </div>

            {% if call.response and call.response.headers is defined %}
                <div>
                    {% include '@SimpleHttp/Collector/partials/response.html.twig' with {'index':index, 'response': call.response} %}
                </div>
            {% endif %}
            {% if call.error %}
                <div>
                    {% include '@SimpleHttp/Collector/partials/error.html.twig' with {'index':index, 'error': call.error} %}
                </div>
            {% endif %}
            <div class="tab-content-cookies">
                {% include '@SimpleHttp/Collector/partials/cookies.html.twig' with {'request': call.request, 'response': call.response} %}
            </div>
            {% if call.auth %}
                <div class="tab-content-auth">
                    {% include '@SimpleHttp/Collector/partials/auth.html.twig' with {'call': call} only %}
                </div>
            {% endif %}
            {% if dataDecoded %}
            <div class="tab-content-data">
                {% include '@SimpleHttp/Collector/partials/data.html.twig' with {'dataDecoded': dataDecoded} only %}
            </div>
            {% endif %}
            <div class="tab-content--raw">
                {{ dump(call) }}
            </div>
            {%  if call.curlCommand is defined %}
                <div class="tab-content--curl">
                    <div class="active" style="display:block;">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <pre>{{ call.curlCommand | raw }}</pre>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            {% endif %}
        </div>

        <div class="http-call__replays">
            <div class="http-call__replay-calls"></div>
            <div class="http-call__replay-action">
                <button data-simple-http-replay-url="{{ path("simple_http.replay_request") }}"
                        data-simple-http-replay="{{ call.request|json_encode }}">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABQ0lEQVQ4T6XSv0tXcRTG8ZeKS4ODOvRDwX/AxZCgwc1QWoQGXXUSQURQQXB0KJRoEMJdELcEwQbRSfLHIA3ODQUm2uDUlMWBc+Fyu/JF/Cz33vM5z/ue85zT5IGnqYH+OeZwjE1cVvMbAYawm6LfWML7MqQRoBsTeIPeFK5ivoAUgFa8wijaMFIpNfIW8Dbjw/gc73HRhW305eUtnuFnjT8fMYkveFkA4tmBqwTG9zTWagA9+JbxTvwqWniBowhkfwMYrwBa8Cd/FOLQnBSAKOcwy36CZkQr5bOBg5xC+BQtnxWAx7jI7HD+R035M/hQ8qkdN+UxnqAfYdRUDeBpggvNaUyrDHiNnRQu4h3+VkCfcI0t7Icn1UVaydUN3TlCsI7vd6183SbOYhmPUjSIvfsAIjfGNJaexO5/vS/grvz/4v8AYOI4K1/F6HgAAAAASUVORK5CYII=" />
                    Replay
                </button>
            </div>
        </div>
    </div>
</div>