{% macro display_array_recursive(array, separator = ', ', opening_char = '[', closing_char = ']') -%}
    {{ opening_char }}
    {%- for key, value in array -%}
        {%- if value is iterable -%}
            {{ key }} => {{ _self.display_array_recursive(value, separator, opening_char, closing_char) }}
        {%- else -%}
            {{ key }} => {{ value }}
            {%- if not loop.last %}{{ separator }}{% endif -%}
        {%- endif -%}
    {%- endfor -%}
    {{ closing_char }}
{%- endmacro %}


<h5>Request Cookies ({{ request.cookies | length  }})</h5>


<table>
    <tbody>
    {% for name, parameter in request.cookies %}
        <tr>
            <th valign="top">{{ name }}</th>
            <td>
                {% if parameter is iterable %}
                    {{ _self.display_array_recursive(parameter) }}
                {% else %}
                    {{ parameter }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% if response %}
<h5>Response Cookies ({{ response.cookies | length  }})</h5>

<table>
    <tbody>
    {% for name, parameter in response.cookies %}
        <tr>
            {% if parameter.cleared %}
                <th valign="top" style="text-decoration: line-through">{{ name }}</th>
            {%  else %}
                <th valign="top">{{ name }}</th>
            {% endif %}
            <td>
                {% if not parameter.cleared %}
                    {{ parameter.value }}
                    <hr style="background: #DDD; border:none; height:1px;" />
                {% endif %}
                <div style="color:#888">
                {% if parameter is iterable %}
                    {{ _self.display_array_recursive(parameter) }}
                {% else %}
                    {{ parameter }}
                {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
