{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% macro css_custom_status_styles() %}

    <style>
        .simplehttpprofiler-status-count .sf-toolbar-value {
            border-radius: 1px;
            padding: 0 5px;
            display: inline-block;
            line-height: 22px;
        }

        #menu-profiler .selected .simplehttpprofiler-status-count .sf-toolbar-value.sf-toolbar-status-red,
        .sf-toolbar-block:hover .simplehttpprofiler-status-count .sf-toolbar-value.sf-toolbar-status-red {
            background: rgb(176, 65, 62);
        }

        .simplehttpprofiler-status-count .sf-toolbar-value.sf-toolbar-status-red {
            background: rgb(125, 46, 44);
        }

        #menu-profiler .selected .simplehttpprofiler-status-count .sf-toolbar-value.sf-toolbar-status-yellow,
        .sf-toolbar-block:hover .simplehttpprofiler-status-count .sf-toolbar-value.sf-toolbar-status-yellow {
            background: rgb(164, 105, 23);
        }

        .simplehttpprofiler-status-count .sf-toolbar-value.sf-toolbar-status-yellow {
            background: rgb(125, 80, 18);
        }

        #menu-profiler .selected .simplehttpprofiler-status-count .sf-toolbar-value.sf-toolbar-status-green,
        .sf-toolbar-block:hover .simplehttpprofiler-status-count .sf-toolbar-value.sf-toolbar-status-green {
            background: rgb(80, 127, 91);
        }

        .simplehttpprofiler-status-count .sf-toolbar-value.sf-toolbar-status-green {
            background: rgb(58, 86, 65);
        }

    </style>
{% endmacro %}



{% block toolbar %}

	{% set icon %}

        {% import _self as customMacro %}
        {{ customMacro.css_custom_status_styles() }}

		<span class="icon"><img alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZGF0YS1uYW1lPSJMYXllciAxIiBpZD0iTGF5ZXJfMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojQUFBO308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTQsMTZhNyw3LDAsMCwxLDctN2g4LjM2bC0xLjUyLjM5LTEuMjYsMS4yNmEyLDIsMCwxLDAsMi44MywyLjgzbDUtNWEyLDIsMCwwLDAsMC0yLjgzbC01LTVhMiwyLDAsMCwwLTIuODMsMi44M2wxLjE3LDEuMTdMMTkuMyw1SDExQTExLDExLDAsMCwwLDIuNzgsMjMuMzFhMiwyLDAsMCwwLDMtMi42NkE3LDcsMCwwLDEsNCwxNloiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yOS4xOCw4LjY0YTIsMiwwLDAsMC0zLDIuNjhBNyw3LDAsMCwxLDIxLDIzSDEzbDEuMjQtLjQyLDEuMTYtMS4xNmEyLDIsMCwwLDAtMi44My0yLjgzbC01LDVhMiwyLDAsMCwwLDAsMi44M2w1LDVhMiwyLDAsMCwwLDIuODMtMi44M2wtMS4yMi0xLjIyTDEzLDI3aDhBMTEsMTEsMCwwLDAsMjkuMTgsOC42NFoiLz48L3N2Zz4=" /></span>

        <span class="simplehttpprofiler-status-count">
            {% if collector.hasServerErrors %}
                <span class="sf-toolbar-value sf-toolbar-status-red">{{ collector.serverErrorsCount }}</span>
            {% endif %}
            {% if collector.hasClientErrors %}
                <span class="sf-toolbar-value sf-toolbar-status-yellow">{{ collector.clientErrorsCount }}</span>
            {% endif %}
            {% if collector.countSuccessfullRequest %}
                <span class="sf-toolbar-value sf-toolbar-status-green">{{ collector.countSuccessfullRequest }}</span>
            {% endif %}
        </span>

        <span class="sf-toolbar-value">{{ collector.totalTime|simple_http_format_ms }}</span>


	{% endset %}

    {% set text %}

        {% for index, call in collector.calls %}

            <div class="sf-toolbar-info-piece">
                <span style="display: table-cell">
                    {% if call.response %}
                        {{ call.response | simple_http_format_http_code_as_badge }}
                    {% else %}
                        <span class="sf-toolbar-status sf-toolbar-status-red">ERR</span>
                    {% endif %}
                </span>

                <a style="display: table-cell"
                   href="{{ path('_profiler', { 'token': token, 'panel': 'simplehttpprofiler' }) }}#request{{ index }}">
                   <span>{{ call.request.method }} {{ call.request.requestUri }}</span>
                </a>


            </div>

            <div class="sf-toolbar-info-piece">
                <b style="font-weight: normal">{{ call.time.total|simple_http_format_ms }}</b>
                <b>
                    {{ call.request.schemeAndHttpHost }}
                    {% if call.debugLink %}
                    -
                    <a style="text-transform: uppercase;
                                font-variant: small-caps;
                                display: inline-block;
                                background-color: rgba(255,255,255,0.3);
                                text-decoration: none;
                                font-size:9px;
                                color: #333;
                                padding: 1px 4px;"
                       href="{{ call.debugLink }}"
                       target="_blank">
                        <img style="height:10px;width:10px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAgElEQVQYV5XQMQpCQQxF0fNX4G60stFGdyBYuSE3InwQBG20URDclPKKkSAfxXST3FxepvO9nm3c/QDHOGAU8IxZWXhggkB7bHAMGP0clwI3aN36DawRAvVY4VYzxljBHba444pp4CFjve8t+Rtc4vTxVYtc22LFmEeaQ5XlSLwAJVAaAqoDe/cAAAAASUVORK5CYII=" />
                        debug link
                    </a>
                    {% endif %}
                </b>
            </div>


        {% endfor %}

    {% endset %}

    {% if not collector.countRequests  %}
        {% set status = 'normal' %}
    {% elseif collector.countErrors > 0 and collector.hasServerErrors %}
        {% set status = 'red' %}
    {% elseif collector.countErrors > 0 %}
        {% set status = 'yellow' %}
    {% else %}
        {% set status = 'green' %}
    {% endif %}

    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { link: "simplehttpprofiler", status: status } %}

{% endblock %}

{% block menu %}
    <span class="label">
		<span class="icon"><img alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZGF0YS1uYW1lPSJMYXllciAxIiBpZD0iTGF5ZXJfMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojQUFBO308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTQsMTZhNyw3LDAsMCwxLDctN2g4LjM2bC0xLjUyLjM5LTEuMjYsMS4yNmEyLDIsMCwxLDAsMi44MywyLjgzbDUtNWEyLDIsMCwwLDAsMC0yLjgzbC01LTVhMiwyLDAsMCwwLTIuODMsMi44M2wxLjE3LDEuMTdMMTkuMyw1SDExQTExLDExLDAsMCwwLDIuNzgsMjMuMzFhMiwyLDAsMCwwLDMtMi42NkE3LDcsMCwwLDEsNCwxNloiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yOS4xOCw4LjY0YTIsMiwwLDAsMC0zLDIuNjhBNyw3LDAsMCwxLDIxLDIzSDEzbDEuMjQtLjQyLDEuMTYtMS4xNmEyLDIsMCwwLDAtMi44My0yLjgzbC01LDVhMiwyLDAsMCwwLDAsMi44M2w1LDVhMiwyLDAsMCwwLDIuODMtMi44M2wtMS4yMi0xLjIyTDEzLDI3aDhBMTEsMTEsMCwwLDAsMjkuMTgsOC42NFoiLz48L3N2Zz4=" /></span>

        <strong>HTTP</strong>

        {% import _self as customMacro %}
        {{ customMacro.css_custom_status_styles() }}

        <span class="count simplehttpprofiler-status-count" style="background: transparent">
            {% if collector.hasServerErrors %}
                <b class="sf-toolbar-value sf-toolbar-status-red">{{ collector.serverErrorsCount }}</b>
            {% endif %}
            {% if collector.hasClientErrors %}
                <b class="sf-toolbar-value sf-toolbar-status-yellow">{{ collector.clientErrorsCount }}</b>
            {% endif %}
            {% if collector.countSuccessfullRequest %}
                <b class="sf-toolbar-value sf-toolbar-status-green">{{ collector.countSuccessfullRequest }}</b>
            {% endif %}

            <span>{{ collector.totalTime|simple_http_format_ms }}</span>
        </span>

    </span>
{% endblock %}

{% block head %}

    {{ parent() }}


    <link rel="stylesheet" href="{{ asset('bundles/simplehttp/libs/highlightjs/highlightjs-8.5.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/simplehttp/simple-http-bundle.css') }}" />


{% endblock %}




{% block panel %}


    <style>
        .http-call__title__method {
            display: inline-block;
            vertical-align: top;
        }

        .http-call__path {
            text-overflow: ellipsis;
            width: 85%;
            white-space: nowrap;
            display: inline-block;
            overflow-x: hidden;
            text-decoration: none;
            border-bottom: 0;
        }
    </style>


    <table>
        <tr>
            <th width="120">
                Filter by hostname
            </th>
            <td>
                <select class="js-http-call-hosts-filter">
                    {% for key, host in collector.hosts %}
                        <option value="{{ key }}">{{ host }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>


    {% for index, call in collector.calls %}
        <a name="request{{ index }}"></a>
        {% include '@SimpleHttp/Collector/partials/call.html.twig' with { 'call': call } %}
    {% endfor %}


    <script type="text/javascript" src="{{ asset('bundles/simplehttp/libs/jquery/jquery-1.12.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/simplehttp/libs/highlightjs/highlightjs-8.5.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/simplehttp/simple-http-bundle.js') }}"></script>


{% endblock %}
