{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}


{% block toolbar %}

	{% set icon %}
		<span class="icon"><img alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZGF0YS1uYW1lPSJMYXllciAxIiBpZD0iTGF5ZXJfMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojQUFBO308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTQsMTZhNyw3LDAsMCwxLDctN2g4LjM2bC0xLjUyLjM5LTEuMjYsMS4yNmEyLDIsMCwxLDAsMi44MywyLjgzbDUtNWEyLDIsMCwwLDAsMC0yLjgzbC01LTVhMiwyLDAsMCwwLTIuODMsMi44M2wxLjE3LDEuMTdMMTkuMyw1SDExQTExLDExLDAsMCwwLDIuNzgsMjMuMzFhMiwyLDAsMCwwLDMtMi42NkE3LDcsMCwwLDEsNCwxNloiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yOS4xOCw4LjY0YTIsMiwwLDAsMC0zLDIuNjhBNyw3LDAsMCwxLDIxLDIzSDEzbDEuMjQtLjQyLDEuMTYtMS4xNmEyLDIsMCwwLDAtMi44My0yLjgzbC01LDVhMiwyLDAsMCwwLDAsMi44M2w1LDVhMiwyLDAsMCwwLDIuODMtMi44M2wtMS4yMi0xLjIyTDEzLDI3aDhBMTEsMTEsMCwwLDAsMjkuMTgsOC42NFoiLz48L3N2Zz4=" /></span>

        <style>
            .simplehttpprofiler-status-count .sf-toolbar-value {
                border-radius: 3px;
                padding: 0 3px;
                display: inline-block;
                line-height: 22px;
            }
            .simplehttpprofiler-status-count .sf-toolbar-value.sf-toolbar-status-red {
                background: rgb(176,65,62);
            }
            .simplehttpprofiler-status-count .sf-toolbar-value.sf-toolbar-status-yellow {
                background: rgb(164, 105, 23);
            }
            .simplehttpprofiler-status-count .sf-toolbar-value.sf-toolbar-status-green {
                background: rgb(80, 127, 91);
            }
        </style>

        <span class="simplehttpprofiler-status-count">
        {% if (collector.countRequests - collector.countErrors) > 0 %}
        <span class="sf-toolbar-value sf-toolbar-status-green">{{ collector.countRequests - collector.countErrors }}</span>
        {% endif %}
        {% if collector.countErrors > 0 %}
            {% if collector.hasServerErrors %}
                <span class="sf-toolbar-value sf-toolbar-status-red">{{ collector.countErrors }}</span>
            {% else %}
                <span class="sf-toolbar-value sf-toolbar-status-yellow">{{ collector.countErrors }}</span>
            {% endif %}
        {% endif %}
        </span>
        <span class="sf-toolbar-value">{{ '%0.1f'|format(collector.totalTime) }} s.</span>

	{% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            {% for index, call in collector.calls %}
            {% if call.debugLink %}
                <a href="{{ call.debugLink }}" style="display: block;background-color: white;padding:9px 0 9px 11px;margin: 0 5px;font-size:10px;float: right;border-left:1px dotted #DDD;background: white" title="External debug link">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAgElEQVQYV5XQMQpCQQxF0fNX4G60stFGdyBYuSE3InwQBG20URDclPKKkSAfxXST3FxepvO9nm3c/QDHOGAU8IxZWXhggkB7bHAMGP0clwI3aN36DawRAvVY4VYzxljBHba444pp4CFjve8t+Rtc4vTxVYtc22LFmEeaQ5XlSLwAJVAaAqoDe/cAAAAASUVORK5CYII=" />
                </a>
            {% endif %}

            <a href="{{ path('_profiler', { 'token': token, 'panel': 'simplehttpprofiler' }) }}#request{{ index }}" style="display: block;border-bottom: 1px solid #DDD;padding-bottom:5px;margin-bottom: 5px;{% if call.debugLink %}padding-right:35px{% endif %}">
                <div style="overflow-x:hidden">
                    <span style="font-weight:bold">{{ call.request.method }}</span>
                    <abbr title="{{ call.request.requestUri }}">{{ call.request.requestUri }}</abbr>
                </div>
                <div style="text-decoration: none">
                    {% if call.response %}
                        {{ call.response.statusCode | simple_http_format_http_code_as_badge }}
                    {% else %}
                        <span class="sf-toolbar-status sf-toolbar-status-red">ERR</span>
                    {% endif %}
                    <span>{{ '%0.1f'|format(call.time.total) }} s.</span>
                    <span style="color: #999">{{ call.request.schemeAndHttpHost }}</span>
                </div>
                <div style="clear:both"></div>
            </a>
            {% endfor %}
        </div>
    {% endset %}

    {% if not collector.countRequests  %}
        {% set status = 'normal' %}
    {% elseif collector.countErrors > 0 and collector.hasServerErrors %}
        {% set status = 'red' %}
    {% elseif collector.countErrors > 0 %}
        {% set status = 'yellow' %}
    {% else %}
        {% set status = 'green' %}
    {% endif %}

    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { link: "simplehttpprofiler", status: status } %}
{% endblock %}

{% block menu %}
    <span class="label">
		<span class="icon"><img alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZGF0YS1uYW1lPSJMYXllciAxIiBpZD0iTGF5ZXJfMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojQUFBO308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTQsMTZhNyw3LDAsMCwxLDctN2g4LjM2bC0xLjUyLjM5LTEuMjYsMS4yNmEyLDIsMCwxLDAsMi44MywyLjgzbDUtNWEyLDIsMCwwLDAsMC0yLjgzbC01LTVhMiwyLDAsMCwwLTIuODMsMi44M2wxLjE3LDEuMTdMMTkuMyw1SDExQTExLDExLDAsMCwwLDIuNzgsMjMuMzFhMiwyLDAsMCwwLDMtMi42NkE3LDcsMCwwLDEsNCwxNloiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yOS4xOCw4LjY0YTIsMiwwLDAsMC0zLDIuNjhBNyw3LDAsMCwxLDIxLDIzSDEzbDEuMjQtLjQyLDEuMTYtMS4xNmEyLDIsMCwwLDAtMi44My0yLjgzbC01LDVhMiwyLDAsMCwwLDAsMi44M2w1LDVhMiwyLDAsMCwwLDIuODMtMi44M2wtMS4yMi0xLjIyTDEzLDI3aDhBMTEsMTEsMCwwLDAsMjkuMTgsOC42NFoiLz48L3N2Zz4=" /></span>

        <strong>HTTP</strong>

        <span class="count">
            <span>{{ collector.countRequests - collector.countErrors }}</span>
            {% if collector.countErrors > 0 %}
                {% if collector.hasServerErrors %}
                    <span style="backgroun:#B95E5E">{{ collector.countErrors }}</span>
            {% else %}
                    <span style="background:#FAA732">{{ collector.countErrors }}</span>
                {% endif %}
            {% endif %}

            <span>{{ '%0.0f'|format(collector.totalTime) }} s.</span>
        </span>

    </span>
{% endblock %}

{% block head %}
    {{ parent() }}

    {% stylesheets '@SimpleHttpBundle/Resources/public/libs/highlightjs/highlightjs-8.5.css'
                   '@SimpleHttpBundle/Resources/public/simple-http-bundle.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"></link>
    {% endstylesheets %}


{% endblock %}




{% block panel %}


    <style>
        .http-call__title__method {
            display: inline-block;
            vertical-align: top;
        }

        .http-call__path {
            text-overflow: ellipsis;
            width: 85%;
            white-space: nowrap;
            display: inline-block;
            overflow-x: hidden;
            text-decoration: none;
            border-bottom: 0;
        }
    </style>


    <table>
        <tr>
            <th width="120">
                Filter by hostname
            </th>
            <td>
                <select class="js-http-call-hosts-filter">
                    {% for key, host in collector.hosts %}
                        <option value="{{ key }}">{{ host }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>


    {% for index, call in collector.calls %}
        <a name="request{{ index }}"></a>
        {% include 'SimpleHttpBundle:Collector:partials/call.html.twig' with { 'call': call } %}
    {% endfor %}

    {%  javascripts "@SimpleHttpBundle/Resources/public/libs/jquery/jquery-1.12.1.js"
                    "@SimpleHttpBundle/Resources/public/libs/highlightjs/highlightjs-8.5.js"
                    "@SimpleHttpBundle/Resources/public/simple-http-bundle.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}
