{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}


{% block toolbar %}

	{% set icon %}
		<span class="icon"><img alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZGF0YS1uYW1lPSJMYXllciAxIiBpZD0iTGF5ZXJfMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojQUFBO308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTQsMTZhNyw3LDAsMCwxLDctN2g4LjM2bC0xLjUyLjM5LTEuMjYsMS4yNmEyLDIsMCwxLDAsMi44MywyLjgzbDUtNWEyLDIsMCwwLDAsMC0yLjgzbC01LTVhMiwyLDAsMCwwLTIuODMsMi44M2wxLjE3LDEuMTdMMTkuMyw1SDExQTExLDExLDAsMCwwLDIuNzgsMjMuMzFhMiwyLDAsMCwwLDMtMi42NkE3LDcsMCwwLDEsNCwxNloiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yOS4xOCw4LjY0YTIsMiwwLDAsMC0zLDIuNjhBNyw3LDAsMCwxLDIxLDIzSDEzbDEuMjQtLjQyLDEuMTYtMS4xNmEyLDIsMCwwLDAtMi44My0yLjgzbC01LDVhMiwyLDAsMCwwLDAsMi44M2w1LDVhMiwyLDAsMCwwLDIuODMtMi44M2wtMS4yMi0xLjIyTDEzLDI3aDhBMTEsMTEsMCwwLDAsMjkuMTgsOC42NFoiLz48L3N2Zz4=" /></span>

        {% if (collector.countRequests - collector.countErrors) %}
        <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.countRequests - collector.countErrors }}</span>
        {% endif %}
        {% if collector.countErrors > 0 %}
            <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.countErrors }}</span>
        {% endif %}

        <span>{{ '%0.1f'|format(collector.totalTime) }} s.</span>

	{% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            {% for index, call in collector.calls %}
            <a href="{{ path('_profiler', { 'token': token, 'panel': 'profiler' }) }}#request{{ index }}" style="display: block;border-bottom: 1px solid #DDD;padding-bottom:5px;margin-bottom: 5px">
                <div>
                    <span style="font-weight:bold">{{ call.request.method }}</span>
                    <abbr title="{{ call.request.requestUri }}">{{ call.request.requestUri }}</abbr>
                </div>
                <div style="text-decoration: none">
                    {% if call.response %}
                        {{ call.response.statusCode | simple_http_format_http_code_as_badge }}
                    {% else %}
                        <span class="sf-toolbar-status sf-toolbar-status-red">ERR</span>
                    {% endif %}
                    <span>{{ '%0.1f'|format(call.time.total) }} s.</span>
                    <span style="color: #999">{{ call.request.schemeAndHttpHost }}</span>
                </div>
                <div style="clear:both"></div>
            </a>
            {% endfor %}
        </div>
    {% endset %}

    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': 'profiler' } %}
{% endblock %}

{% block menu %}
    <span class="label">
		<span class="icon"><img alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZGF0YS1uYW1lPSJMYXllciAxIiBpZD0iTGF5ZXJfMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojQUFBO308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTQsMTZhNyw3LDAsMCwxLDctN2g4LjM2bC0xLjUyLjM5LTEuMjYsMS4yNmEyLDIsMCwxLDAsMi44MywyLjgzbDUtNWEyLDIsMCwwLDAsMC0yLjgzbC01LTVhMiwyLDAsMCwwLTIuODMsMi44M2wxLjE3LDEuMTdMMTkuMyw1SDExQTExLDExLDAsMCwwLDIuNzgsMjMuMzFhMiwyLDAsMCwwLDMtMi42NkE3LDcsMCwwLDEsNCwxNloiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yOS4xOCw4LjY0YTIsMiwwLDAsMC0zLDIuNjhBNyw3LDAsMCwxLDIxLDIzSDEzbDEuMjQtLjQyLDEuMTYtMS4xNmEyLDIsMCwwLDAtMi44My0yLjgzbC01LDVhMiwyLDAsMCwwLDAsMi44M2w1LDVhMiwyLDAsMCwwLDIuODMtMi44M2wtMS4yMi0xLjIyTDEzLDI3aDhBMTEsMTEsMCwwLDAsMjkuMTgsOC42NFoiLz48L3N2Zz4=" /></span>

        <strong>HTTP</strong>

        <span class="count">
            <span>{{ collector.countRequests - collector.countErrors }}</span>
            {% if collector.countErrors > 0 %}
                <span style="background:red"> {{ collector.countErrors }}</span>
            {% endif %}

            <span>{{ '%0.0f'|format(collector.totalTime) }} s.</span>
        </span>



    </span>
{% endblock %}

{% block head %}
    {{ parent() }}
    {% include 'SimpleHttpBundle:Collector:partials/css.html.twig' %}
{% endblock %}




{% block panel %}


    <table>
        <tr>
            <th width="120">
                Filter by hostname
            </th>
            <td>
                <select class="js-http-call-hosts-filter">
                    {% for key, host in collector.hosts %}
                        <option value="{{ key }}">{{ host }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>


    {% for index, call in collector.calls %}
        <a name="request{{ index }}"></a>
        {% include 'SimpleHttpBundle:Collector:partials/call.html.twig' with { 'call': call } %}
    {% endfor %}

    {% include 'SimpleHttpBundle:Collector:partials/javascript.html.twig' %}


{% endblock %}
